# App Environment
SCHEMAVAULTS_APP_ENVIRONMENT="production"
NEXT_PUBLIC_SCHEMAVAULTS_APP_ENVIRONMENT="production"

# Public Beta Flag
NEXT_PUBLIC_SCHEMAVAULTS_PRIVATE_BETA="true"
SCHEMAVAULTS_PRIVATE_BETA="true"

# Mailing List ID
NEXT_PUBLIC_PUBLIC_BETA_WAITLIST_MAILING_LIST_ID="ce2fe5e1-84bb-4f42-bfcb-9341c0e64b46"
