src/

# app directory and tsconfig.json are for preview app
app/
tsconfig.json
# tsconfig.pkg.json contains config for building actual editor react component

logs/

turbo.json
.turbo/

.env
.env.example
.env.local
.env.development
.env.test
.env.production
.env.staging

dist/**/*.test.d.ts

.github/

preview/

postcss.config.cjs
postcss.config.js
postcss.config.mjs
postcss.config.ts

tailwind.config.cjs
tailwind.config.js
tailwind.config.mjs
tailwind.config.ts

next.config.cjs
next.config.js
next.config.mjs
next.config.ts

next-env.d.ts

.next/
